<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Contact"%>
</head>

<body>
  <section id="contact-section">
    <div class="container pt-4">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= asset_path('bis.png') %>" alt="BIS">
        <div class="card-body">
          <h5 class="card-title">How to reach us?</h5>
          <p class="card-text">Find us on our discord server.</p>
          <a href="https://discord.gg/hXdpu9j" class="btn btn-primary">Go!</a>
        </div>
      </div>
    </div>

  </section>
</body>

</html>