<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Equipe"%>
</head>

<body>
<section id="team-section">
  <div class="container">
  <h2 class="mt-4 mb-4 ml-3">Our team</h2>
    <div class="row">

      <div class="col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <a href="https://github.com/StanislasBASQUIN">☮︎
                Stanislas BASQUIN
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <a href="https://github.com/tienduy-nguyen">☯︎
                Tien Duy NGUYEN
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <a href="https://github.com/HugoPeranSejourne">♨︎
                Hugo Péran Séjourné
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <a href="https://github.com/mathieu-superpose">☻
                Mathieu JOLY
              </a>
            </div>
          </div>
        </div>
      </div>


      <div class="col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <a href="https://github.com/Vivien-Ploix">⚖︎
                Vivien Ploix
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-sm-6 mb-3">
        <div class="card">
          <div class="card-body">
            <div class="card-text">
              <a href="https://github.com/barifche">⚖︎
                Chérif BA
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>


</section>
</body>

</html>