<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Login" %>
</head>

<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center pt-4">
        <h3 id="form-title"><i class="fas fa-user"></i> LOGIN</h3>
      </div>

      <div class="d-flex justify-content-center form_container">

        <% render 'form_login'%>


      </div>

      <div class="mt-4 mb-3">
        <div class="d-flex justify-content-center links-wrap">
          Don't have an account? <a href="{% url 'register' %}" class="ml-2">Signup</a>
        </div>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    function showPass() {
      const iconEye = document.getElementById('show-pass-icon');
      const groupPass = document.getElementById('show_hide_password')
      const inputPass = groupPass.querySelector('input');
      if (inputPass.type == 'password') {
        inputPass.type = 'text'
      } else {
        inputPass.type = 'password'
      }
    }
  </script>
</div>


</body>

</html>