<!DOCTYPE html>
<html>

<head>
  <% content_for :title, "Users" %>
</head>

<body>

  <!-- MAIN BODY -->
  <section id="user-section">
  <div class="container py-4">
    <div class="mb-4 pt-4 display-4">List of all available users</div>

    <%= render 'cards' %>

    <div id="infinite-scrolling">
      <%= will_paginate @users, renderer: WillPaginate::ActionView::Bootstrap4LinkRenderer %>
    </div>

  </div>
  </section>
</body>

</html>