{% extends 'base.html' %}
{% block title %} | Login{% endblock %}
{% block content %}

<style>
  body,
  html {
    margin: 0;
    padding: 0;
    height: 90%;
    background-color: rgba(0, 0, 0, 0.2);
  }

  .user_card {
    width: 350px;
    margin-top: auto;
    margin-bottom: auto;
    background: #1BA87E;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;

  }

  .form_container {
    margin-top: 20px;
  }

  #form-title {
    color: #fff;

  }

  .login_btn {
    width: 100%;
    background: #33ccff;
    color: white;
  }

  .login_btn:focus {
    box-shadow: none;
    outline: 0px;
  }

  .login_container {
    padding: 0 0;
  }

  .input-group-text {
    background: #f7ba5b;
    color: white;
    border: 0;
    border-radius: 0.25rem 0 0 0.25rem;
  }

  .input_user,
  .input_pass:focus {
    box-shadow: none;
    outline: 0px;
  }

  #messages {
    background-color: grey;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
  }

  .links-wrap {
    color: #dddddd
  }

  .links-wrap a {
    color: rgb(34, 248, 255)
  }

  .navbar-container {
    display: none;
  }
</style>

<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="user_card">
      <div class="d-flex justify-content-center pt-4">
        <h3 id="form-title"><i class="fas fa-user"></i> LOGIN</h3>
      </div>

      <div class="d-flex justify-content-center form_container">
        <form method="POST" action="">
          {% csrf_token %}
          <div class="input-group mb-3">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-user"></i></span>
            </div>
            <input type="text" name="username" placeholder="Username..." class="form-control">
          </div>
          <div class="input-group mb-3" id="show_hide_password">
            <div class="input-group-append">
              <span class="input-group-text"><i class="fas fa-key"></i></span>
            </div>
            <input type="password" id="password" name="password" data-toggle="password" placeholder="Password..."
              class="form-control">
            <div class="input-group-append">
              <span class='input-group-text' id="show-pass-icon"
                style="background-color: #fff;color:#333;cursor:pointer"><i class="fa fa-eye-slash" aria-hidden="true"
                  onclick="showPass()"></i></span>
            </div>
          </div>

          <div class="d-flex justify-content-center mt-4 login_container">
            <input class="btn login_btn" type="submit" value="Login">
          </div>
        </form>
      </div>
      <!-- Messages -->
      {% include 'partials/_msgAuth.html' %}

      <div class="mt-4 mb-3">
        <div class="d-flex justify-content-center links-wrap">
          Don't have an account? <a href="{% url 'register' %}" class="ml-2">Signup</a>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    function showPass() {
      const iconEye = document.getElementById('show-pass-icon');
      const groupPass = document.getElementById('show_hide_password')
      const inputPass = groupPass.querySelector('input');
      if (inputPass.type == 'password') {
        inputPass.type = 'text'
      } else {
        inputPass.type = 'password'
      }

    }
  </script>

</div>


{% endblock%}