@import 'gossips';
@import 'static_pages';
@import 'gossips';
@import 'users';
@import 'comments';
@import 'sessions';
@import 'bootstrap';

html {
  scroll-behavior: smooth;
}

#main-nav {
  opacity: 0.9;
}
#main-footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  opacity: 0.9;
  margin-top: 100px;
}
#alert-section {
  position: absolute;
  display: block;
  width: 100%;
  top: 100px;
  left: 0;
  right: 0;
  z-index: 100;
}

.card-tag {
  display: inline-block;
  padding: 4px 15px;
  font-size: 13px;
  color: #ffffff;
  background: #20247b;
  border-radius: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
}
.card-tag:hover {
  background: #fc5356;
  text-decoration: none;
}
.navbar {
  font-size: 1.2rem;
}

/* Navbar */
.navbar--cus {
  display: flex;
  color: #fff;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 101;
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.12);
}
.navbar-nav--cus {
  list-style: none;
  display: flex;
  flex-direction: row;
  padding-left: 0;
  margin-bottom: 0;
  margin-top: 0;
}
.nav-item--cus {
  list-style: none;
}
.nav-link--cus {
  position: relative;
  float: left;
  text-align: center;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 17px;
  color: #f1f1f1;
}
.nav-link--cus:hover {
  cursor: pointer;
}
.navbar-nav--cus i {
  font-size: 1.4rem;
}
.navbar-right {
  position: relative;
  margin-left: auto;
}

.logo {
  height: 40px;
  padding: 10px;
}
.avatar img {
  width: 39px;
  height: 39px;
  border-radius: 50%;
}
.avatar {
  padding: 11px;
}
.navbar-badge {
  font-size: 0.6rem;
  padding: 2px 4px;
  right: 3px;
  top: 11px;
  position: absolute;
  color: #fff;
  background-color: #eb4d4b;
  border-radius: 5px;
}

.dropdown--cus {
  position: relative;
}
.dropdown--cus:hover {
  cursor: pointer;
}
.notification-menu.dropdown-menu--cus {
  right: -40px;
}
.dropdown-menu--cus {
  list-style: none;
  display: none;
  flex-direction: column;
  position: absolute;
  right: 4px;
  top: 75px;
  background-color: #fff;
  max-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  padding: unset;
  margin: unset;
  border-radius: 10px;
  border: 0.125px solid #f1f1f1;
}
.dropdown-expand {
  display: flex;
}

.notification-menu {
  min-width: 380px;
}
.dropdown-menu-content {
  max-height: 450px;
  overflow-y: auto;
}

.dropdown-menu-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  color: var(--main-color);
}

.dropdown-menu-link div {
  min-width: 80px;
  height: 50px;
  position: relative;
}
.dropdown-menu-link i {
  font-size: 1.25rem;
  color: var(--second-color);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.dropdown-menu-link span {
  font-size: 15px;
  width: 298px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dropdown-menu-link span span {
  font-size: 10px;
}
.dropdown-menu-link:hover {
  cursor: pointer;
}

.dropdown-menu-header {
  padding: 20px;
  text-align: center;
  border-bottom: 1px solid var(--second-bg-color);
}
.dropdown-menu-footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid var(--second-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar {
  width: 9px;
  height: 9px;
  display: none;
}
.overlay-scrollbar:hover::-webkit-scrollbar {
  display: block;
}

.overlay-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 10rem;
  border: 1px solid var(--main-bg-color);
}

.overlay-scrollbar::-webkit-scrollbar-track-piece:start {
  background: transparent;
}
.overlay-scrollbar::-webkit-scrollbar-track-piece:end {
  background: transparent;
}

/* End navbar */
