#main-nav {
  opacity: 0.9;
}
#main-footer {
  position: fixed;
  height: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  margin-bottom: 0;
  opacity: 0.9;
}

.card-tag {
  display: inline-block;
  padding: 4px 15px;
  font-size: 13px;
  color: #ffffff;
  background: #20247b;
  border-radius: 4px;
  margin-right: 4px;
  margin-bottom: 4px;
  margin-top: 4px;
}
.card-tag:hover {
  background: #fc5356;
  text-decoration: none;
}
.navbar {
  font-size: 1.2rem;
}

html {
  scroll-behavior: smooth;
}
@import 'gossips';
@import 'static_pages';
@import 'gossips';
@import 'users';
@import 'comments';
