#gossip-section {
  position: relative;
  background-color: #f2d4ab;
  top: -40px;
}
.card-gossip {
  height: 320px;
}
.card-infomation {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  height: 150px;
  margin-bottom: 6px;
}

.card-bar {
  overflow-y: hidden;
}
